---
import BaseLayout from "../layouts/BaseLayout.astro";

import TableOfContents from "../components/TableOfContents.astro";
import AboutMe from "../components/AboutMe.astro";
---

<BaseLayout title="Sobre | Gustavo Almeida" description="About Gustavo Almeida">
	<div class="stack gap-20">
		<TableOfContents />
		<main class="wrapper about">
			<AboutMe />
			<section id="skills">
				<h2>Habilidades</h2>
				<div class="content">
					<ul>
						<li>
							<strong>Linguagens de Programação:</strong>
							Java, Kotlin, Javascript.
						</li>
						<li>
							<strong>Frameworks:</strong>
							Spring Boot, Android, Next.js.
						</li>
						<li>
							<strong>Testes:</strong>
							JUnit, Mockito, Espresso.
						</li>
						<li>
							<strong>CI/CD:</strong>
							Git, Github, Gradle, Maven, Docker.
						</li>
						<li>
							<strong>Banco de Dados:</strong>
							PostgreSQL, MySQL, MongoDB.
						</li>
						<li>
							<strong>Boas práticas:</strong>
							SOLID, Clean Code, MVVM, MVC.
						</li>
						<li>
							<strong>APIs REST:</strong>
							Desenvolvimento e integração.
						</li>
						<li>
							<strong>Metodologia ágil com Scrum:</strong>
						</li>
					</ul>
				</div>
			</section>
			<section id="education">
				<h2>Formação</h2>
				<ul class="content">
					<li>
						<h5>2024 - 2025 | Unopar</h5>
						<p>Pós-Graduação - Arquitetura de Soluções</p>
					</li>
					<li>
						<h5>2022 - 2023 | Fatec Antônio Russo</h5>
						<p>Tecnólogo - Análise e Desenvolvimento de Sitemas</p>
					</li>
					<li>
						<h5>2019 - 2021 | Etec Jorge Street</h5>
						<p>
							Ensino Médio e Técnico - PTECH Análise e
							Desenvolvimento de Sistemas
						</p>
					</li>
				</ul>
			</section>
		</main>
	</div>

	<style>
		.about {
			display: flex;
			flex-direction: column;
			gap: 4rem;
		}

		section {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			min-height: 50vh;
			font-size: var(--text-md);
			color: var(--gray-200);
		}

		.content {
			display: flex;
			flex-direction: column;
			margin: 2rem 0;
			gap: 1rem;
		}

		@media (min-width: 1200px) {
			section {
				display: block;
				margin-left: 200px;
			}

			.content {
				max-width: 70rem;
				font-size: var(--text-lg);
			}
		}
	</style>
</BaseLayout>
