---
import BaseLayout from "../layouts/BaseLayout.astro";

import Icon from "../components/Icon.astro";

const birthDate = new Date("2004-01-18");
const today = new Date();
let age = today.getFullYear() - birthDate.getFullYear();
const monthDifference = today.getMonth() - birthDate.getMonth();
const nextBirthdayInThisYear =
	monthDifference < 0 ||
	(monthDifference === 0 && today.getDate() < birthDate.getDate());

if (nextBirthdayInThisYear) {
	age--;
}
---

<BaseLayout title="Sobre | Gustavo Almeida" description="About Gustavo Almeida">
	<div class="stack gap-20">
		<main class="wrapper about">
			<section>
				<h2 class="section-title">Sobre mim</h2>
				<div class="content">
					<div class="content">
						<p>
							Eu me chamo
							<strong>Gustavo&nbsp;Almeida&nbsp;Carvalho</strong>,
							tenho {age} anos e moro em São Paulo, SP - Brasil.
						</p>
						<p>
							Comecei minha jornada na carreira de tecnologia na
							Etec Jorge Street. Desde então, estou constantemente
							aprimoramento das minhas habilidades técnicas e
							comportamentais.
						</p>
						<p>
							Durante meu período acadêmico, liderei o
							desenvolvimento de projetos de ponta a ponta de
							soluções tecnlógicas em projetos de cunho social e
							empresarial. Tive contato com diversas tecnologias
							amplamente utilizadas no desenvolvimento de
							aplicações frontend, backend e mobile.
							<a
								class="cv"
								href="/cv-gustavo-almeida.pdf"
								target="_blank"
							>
								Download CV
								<Icon icon="pdf" size="1.2em" />
							</a>
						</p>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<ul>
						<li>
							<strong>Linguagens de Programação:</strong>
							Java, Kotlin, Javascript.
						</li>
						<li>
							<strong>Frameworks:</strong>
							Spring Boot, Android, Next.js.
						</li>
						<li>
							<strong>Testes:</strong>
							JUnit, Mockito, Espresso.
						</li>
						<li>
							<strong>CI/CD:</strong>
							Git, Github, Gradle, Maven, Docker.
						</li>
						<li>
							<strong>Banco de Dados:</strong>
							PostgreSQL, MySQL, MongoDB.
						</li>
						<li>
							<strong>Boas práticas:</strong>
							SOLID, Clean Code, MVVM, MVC.
						</li>
						<li>
							<strong>APIs REST:</strong>
							Desenvolvimento e integração.
						</li>
						<li>
							<strong>Metodologia ágil com Scrum:</strong>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formação</h2>
				<ul class="content">
					<ul class="content">
						<li>
							<h5>2024 - 2025 | Unopar</h5>
							<p>Pós-Graduação - Arquitetura de Soluções</p>
						</li>
						<li>
							<h5>2022 - 2023 | Fatec Antônio Russo</h5>
							<p>
								Tecnólogo - Análise e Desenvolvimento de Sitemas
							</p>
						</li>
						<li>
							<h5>2019 - 2021 | Etec Jorge Street</h5>
							<p>
								Ensino Médio e Técnico - PTECH Análise e
								Desenvolvimento de Sistemas
							</p>
						</li>
					</ul>
				</ul>
			</section>
		</main>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
