---
import BaseLayout from "../layouts/BaseLayout.astro";

import TableOfContents from "../components/TableOfContents.astro";
import AboutMe from "../components/AboutMe.astro";
import AboutSection from "../layouts/AboutSection.astro";
---

<BaseLayout title="Sobre | Gustavo Almeida" description="About Gustavo Almeida">
	<div class="stack gap-20">
		<TableOfContents />
		<main class="wrapper about">
			<AboutMe />

			<AboutSection id="skills" title="Habilidades">
				<ul class="content">
					<li>
						<strong>Linguagens de Programação:</strong>
						Java, Kotlin, Javascript.
					</li>
					<li>
						<strong>Frameworks:</strong>
						Spring Boot, Android, Next.js.
					</li>
					<li>
						<strong>Testes:</strong>
						JUnit, Mockito, Espresso.
					</li>
					<li>
						<strong>CI/CD:</strong>
						Git, Github, Gradle, Maven, Docker.
					</li>
					<li>
						<strong>Banco de Dados:</strong>
						PostgreSQL, MySQL, MongoDB.
					</li>
					<li>
						<strong>Boas práticas:</strong>
						SOLID, Clean Code, MVVM, MVC.
					</li>
					<li>
						<strong>APIs REST:</strong>
						Desenvolvimento e integração.
					</li>
					<li>
						<strong>Metodologia ágil com Scrum</strong>
					</li>
				</ul>
			</AboutSection>

			<AboutSection id="education" title="Formação">
				<ul class="content">
					<li>
						<h5>2024 - 2025 | Unopar</h5>
						<p>Pós-Graduação - Arquitetura de Soluções</p>
					</li>
					<li>
						<h5>2022 - 2023 | Fatec Antônio Russo</h5>
						<p>Tecnólogo - Análise e Desenvolvimento de Sitemas</p>
					</li>
					<li>
						<h5>2019 - 2021 | Etec Jorge Street</h5>
						<p>
							Ensino Médio e Técnico - PTECH Análise e
							Desenvolvimento de Sistemas
						</p>
					</li>
				</ul>
			</AboutSection>
		</main>
	</div>
	<style>
		.about {
			display: flex;
			flex-direction: column;
		}

		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 1rem;
		}

		@media (min-width: 1200px) {
			.content {
				flex-grow: 1;
				max-width: 70rem;
				font-size: var(--text-lg);
			}
		}
	</style>
</BaseLayout>
