---
// import portrait from "../assets/portrait.jpg";

import { Image } from "astro:assets";
import Icon from "../components/Icon.astro";
import AboutSection from "../layouts/AboutSection.astro";

const birthDate = new Date("2004-01-18");
const ageDate = new Date(Date.now() - birthDate.getTime());
const age = Math.abs(ageDate.getUTCFullYear() - 1970);
---

<AboutSection id="about-me" title="Sobre mim">
    <div class="container">
        <!-- <Image
            alt="Foto de Gustavo Almeida "
            width="360"
            height="480"
            src={portrait}
        /> -->
        <div class="content">
            <p>
                Eu me chamo
                <strong>Gustavo Almeida Carvalho</strong>, tenho {age} anos e moro
                em São&nbsp;Paulo&nbsp;-&nbsp;SP,&nbsp;Brasil.
            </p>
            <p>
                Comecei minha jornada na carreira de tecnologia na Etec Jorge
                Street. Desde então, estou constantemente aprimoramento das
                minhas habilidades técnicas e comportamentais.
            </p>
            <p>
                Durante meu período acadêmico, liderei o desenvolvimento de
                projetos de ponta a ponta de soluções tecnlógicas em projetos de
                cunho social e empresarial. Tive contato com diversas
                tecnologias amplamente utilizadas no desenvolvimento de
                aplicações frontend, backend e mobile.
            </p>
            <div class="professional">
                <h5>Profissional</h5>
                <p>Email: gualmeida2004@gmail.com</p>
                <a class="cv" href="/cv-gustavo-almeida.pdf" target="_blank">
                    Ver currículo
                    <Icon icon="pdf" size="1.2em" />
                </a>
            </div>
        </div>
    </div>
</AboutSection>

<style>
    .container {
        display: flex;
        flex-direction: column;
    }

    img {
        aspect-ratio: 3 / 4;
        object-fit: cover;
        object-position: top;
        align-self: center;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
        margin-bottom: 2rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow:;
        gap: 1rem;
    }

    .professional {
        margin-top: auto;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .content :global(a) {
        text-decoration: 1px solid underline transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
        text-decoration-color: currentColor;
    }

    @media (min-width: 1200px) {
        .container {
            flex-direction: row-reverse;
            gap: 2rem;
        }
        .content {
            max-width: 70rem;
            font-size: var(--text-lg);
        }
    }
</style>
